<div class="cover flex-row center">
    <div class="vcard plr-lg">
       <div class="input-group mb-lg">
           <span class="input-group-addon"><i class="fa fa-fw fa-envelope-o"></i></span>
           <input type="email" class="form-control" ng-model="settingCtrl.profile.contact.email">
       </div> 
       <div class="input-group mb-lg">
           <span class="input-group-addon"><i class="fa fa-fw fa-phone"></i></span>
           <input type="text" class="form-control" ng-model="settingCtrl.profile.contact.phone">
       </div> 
       <div class="input-group mb-lg">
           <span class="input-group-addon"><i class="fa fa-fw fa-twitter"></i></span>
           <input type="text" class="form-control" ng-model="settingCtrl.profile.contact.twitter">
       </div> 
       <div class="input-group mb-lg">
           <span class="input-group-addon"><i class="fa fa-fw fa-facebook"></i></span>
           <input type="text" class="form-control" ng-model="settingCtrl.profile.contact.facebook">
       </div> 
       <div class="input-group mb-lg">
           <span class="input-group-addon"><i class="fa fa-fw fa-google-plus"></i></span>
           <input type="text" class="form-control" ng-model="settingCtrl.profile.contact.gplus">
       </div> 
       <div class="input-group mb-lg">
           <span class="input-group-addon"><i class="fa fa-fw fa-github"></i></span>
           <input type="text" class="form-control" ng-model="settingCtrl.profile.contact.github">
       </div> 
       <div class="input-group">
           <span class="input-group-addon"><i class="fa fa-fw fa-weixin"></i></span>
           <input type="text" class="form-control" ng-model="settingCtrl.profile.contact.wechat">
       </div> 
    </div>
</div>