<div class="setting-fragment cover ptb">
    <div class="setting-menu-bar flex-row around">
        <a ui-sref="admin.setting.basis" ui-sref-active="active" class="text-center menu-item fa fa-user nudl" tooltip="account info" tooltip-placement="bottom"></a>
        <a ui-sref="admin.setting.edu" ui-sref-active="active" class="text-center menu-item fa fa-graduation-cap nudl" tooltip="education" tooltip-placement="bottom"></a>
        <a ui-sref="admin.setting.skill" ui-sref-active="active" class="text-center menu-item fa fa-magic nudl" tooltip="skills" tooltip-placement="bottom"></a>
        <a ui-sref="admin.setting.experience" ui-sref-active="active" class="text-center menu-item fa fa-life-ring nudl" tooltip="work experience" tooltip-placement="bottom"></a>
        <a ui-sref="admin.setting.project" ui-sref-active="active" class="text-center menu-item fa fa-puzzle-piece nudl" tooltip="projects" tooltip-placement="bottom"></a>
        <a ui-sref="admin.setting.contact" ui-sref-active="active" class="text-center menu-item nudl" tooltip="contact" tooltip-placement="bottom">@</a>
    </div>
    <div class="setting-detail slide" ui-view></div>
</div>